.list {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-top: 40px;
  list-style: none;
}

.avatarBlock {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.avatar {
  width: 60px;
  height: 60px;
  background: var(--color-grey-lightest);
  border-radius: 50%;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-red);

  font-family: var(--font-family-main);
  font-size: var(--font-size-2xl);
  font-style: normal;
  font-weight: var(--font-weight-semibold);
  line-height: 1.33;
}

.name {
  margin-bottom: 4px;

  color: var(--color-dark);

  font-family: var(--font-family-main);
  font-size: var(--font-size-md);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
}

.stars {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.comment {
  line-height: 1.5;

  color: var(--color-dark-blue);
  font-family: var(--font-family-main);
  font-size: var(--font-size-md);
  font-style: normal;
  font-weight: var(--font-weight-regular);
}
