.reviewsLocation {
  display: flex;
  gap: 16px;
}

.reviews {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: underline;
}

.location {
  display: flex;
  gap: 4px;
  align-items: center;
}
