.name,
.price {
  color: var(--color-dark);
  font-family: var(--font-family-main);
  font-size: var(--font-size-2xl);
  font-style: normal;
  font-weight: var(--font-weight-semibold);
  line-height: 1.33;
}

.name {
  margin-top: 48px;
  margin-bottom: 8px;
}

.price {
  margin-top: 16px;
}

.gallery {
  display: flex;
  width: 1312px;
  align-items: flex-start;
  gap: 30px;
  margin-top: 28px;
}

.galleryImg {
  width: 292px;
  height: 312px;
  flex-shrink: 0;
  border-radius: 10px;
  object-fit: cover;
}

.description {
  color: var(--color-grey-dark);

  font-family: var(--font-family-main);
  font-size: var(--font-size-md);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  margin-top: 28px;
}

.tabs {
  margin-top: 44px;
}

.tabsWrapper {
  border-bottom: 2px solid var(--color-grey-light);
  margin-bottom: 20px;
  position: relative;
}

.tabs {
  display: flex;
  gap: 40px;
  position: relative;
  z-index: 2;
}

.tab {
  position: relative;
  background: none;
  border: none;
  padding: 20px 0 10px 0;
  cursor: pointer;
  outline: none;
  transition: color 0.2s;

  color: var(--color-dark);

  font-family: var(--font-family-main);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: var(--font-weight-semibold);
  line-height: 1.2;
}

.tab.active {
  color: var(--color-dark);
}

.tab.active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  height: 5px;
  background: var(--color-red);
  z-index: 1;
}

.bottomContainer {
  display: flex;
  gap: 40px;
  flex-direction: row;
  padding-bottom: 80px;
}

.leftPanel,
.rightPanel {
  flex: 1 1 0%;
}
