.feature {
  display: flex;
  padding: 12px 18px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--color-grey-lighter);
  mix-blend-mode: multiply;
  text-transform: capitalize;
}
