.header {
  background: var(--color-grey-light);
}
.headerContainer {
  display: flex;
  padding: 24px 0;
  align-items: center;
  gap: 450px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.link {
  text-decoration: none;
  color: var(--color-dark);
  text-align: center;
  font-size: var(--font-size-md);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 1.5;

  transition: color 0.3s;
}
.active,
.link:hover {
  color: var(--color-red-dark);
}
