.card {
  display: flex;
  padding: 24px;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  border-radius: 20px;
  border: 1px solid var(--color-grey-light);
  background: var(--color-white);
  margin-bottom: 32px;
}

.name,
.price {
  color: var(--color-dark);
  font-family: var(--font-family-main);
  font-size: var(--font-size-2xl);
  font-style: normal;
  font-weight: var(--font-weight-semibold);
  line-height: 1.33;
}

.image {
  width: 292px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 10px;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  height: 320px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.description {
  margin: 24px 0;
  width: 525px;
  overflow: hidden;
  color: var(--color-text);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: var(--font-family-main);
  font-size: var(--font-size-md);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
}

.features {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  max-width: 400px;
  flex-wrap: wrap;
}

.showMoreWrapper {
  margin-top: auto;
  display: flex;
  align-items: flex-start;
}

.showMoreButton {
  display: inline-block;
  margin-top: 24px;
}

.favoriteBtn {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  outline: none;
}

.favoriteIcon {
  color: var(--color-dark);
}
.favoriteIcon.active {
  color: var(--color-red);
}
