.card {
  display: flex;
  padding: 24px;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  border-radius: 20px;
  border: 1px solid var(--Gray-light, #dadde1);
  background: var(--White, #fff);
  margin-bottom: 32px;
}

.name,
.price {
  color: var(--Main, #101828);

  /* H2 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}

.image {
  width: 292px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 10px;
  object-fit: cover;
  /* object-position: 45% 45%; */
}

.content {
  display: flex;
  flex-direction: column;
  height: 320px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.reviewsLocation {
  display: flex;
  gap: 16px;
}

.reviews {
  display: flex;
  align-items: center; /* вирівнює дочірні елементи по центру вертикалі */
  gap: 4px; /* невеликий відступ між іконкою та текстом, за бажанням */
  text-decoration: underline;
}

.location {
  display: flex;
  gap: 4px;
  align-items: center; /* вирівнює дочірні елементи по центру вертикалі */
}

.description {
  margin: 24px 0;
  width: 525px;
  overflow: hidden;
  color: var(--Text, #475467);
  text-overflow: ellipsis;
  white-space: nowrap; /* Додаємо це! */

  /* Body */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.features {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  max-width: 400px;
  flex-wrap: wrap;
}

.showMoreWrapper {
  margin-top: auto;
  display: flex;
  align-items: flex-start; /* або center, якщо треба центрувати кнопку */
}
.showMoreButton {
  display: inline-block;
  margin-top: 24px;
}

.favoriteBtn {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  outline: none;
}

.favoriteIcon {
  color: #101828; /* outline (black/темний) */
}
.favoriteIcon.active {
  color: #e44848; /* filled (червоний) */
}

.starIcon {
  color: #101828; /* outline (black/темний) */
}

.starIcon.active {
  color: #ffc531; /* outline (black/темний) */
}
