.homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero {
  flex: 1;
  background: url("/src/assets/hero.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.heroContent {
  max-width: 600px;
}

.title {
  color: var(--Inputs, #f7f7f7);

  /* H1 */
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 66.667% */
}

.subtitle {
  color: var(--Inputs, #f7f7f7);

  /* H2 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */

  margin-top: 16px;
  margin-bottom: 40px;
}
